#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

if THREADX

menu "ThreadX Configuration"

config KAL_THREADX_SMP
	bool "ThreadX multicore support (SMP)"
	default y
	help
	  ThreadX RTOS is available for multicore systems in both
	  Symmetric Multiprocessing (SMP) or
	  Asymmetric Multiprocessing (AMP) modes.

if KAL_THREADX_SMP
config KAL_THREADX_SMP_NUM_CORES
	int "Number of cores in ThreadX SMP environment"
	default 1
endif

config KAL_THREADX_PROFILE
	bool "ThreadX execution profile support"
	default y
	help
	  ThreadX Execution Profile is designed to track thread
	  execution time based on the hardware timer.

config KAL_THREADX_FIQ
	bool "ThreadX FIQ support"
	default y
	help
	  This option enables FIQ interrupt handling support in the
	  ThreadX assembly files.

config KAL_THREADX_GLOBAL_VFP
	bool "ThreadX save/restore VFP & NEON registers on context switch"
	default y
	help
	  This option enables VFP & NEON registers save/restore during context switch
	  for all the threads. Each thread can change its behavior by tx_thread_vfp_enable
	  and tx_thread_vfp_disable;

config KAL_THREADX_STACK_CHECK
	bool "ThreadX run-time stack checking"
	default y
	help
	  This option enables ThreadX run-time stack checking, which
	  includes analysis of how much stack has been used and
	  examination of data pattern "fences" before and after the stack area.
	  If a stack error is detected, the registered application stack error
	  handler is called. This option does result in slightly increased overhead
	  and code size.

config KAL_THREADX_EVENT_TRACE
	bool "ThreadX trace feature support"
	default n
	help
	  This option enables the internal ThreadX trace feature. The trace buffer
	  is supplied at a later time via an application call to tx_trace_enable.

endmenu
endif # THREADX

if QNX || LINUX

menu "SMP Configuration"
config SMP_CORE_NUM
	int "Number of cores in SMP environment"
	default 4
endmenu

endif

