
menu "Board Support Package"

source build/kconfigs/bsp/cv2/Kconfig
source build/kconfigs/bsp/cv22/Kconfig
source build/kconfigs/bsp/cv25/Kconfig
source build/kconfigs/bsp/h32/Kconfig
source build/kconfigs/bsp/cv2fs/Kconfig
source build/kconfigs/bsp/cv22fs/Kconfig
source build/kconfigs/bsp/cv28/Kconfig
source build/kconfigs/bsp/cv5x/Kconfig

if !FWPROG_R52SYS_ENABLE
config AUTO_DRAM_TRAINING
	bool "Enable automatic dram training"
	default y
	help
		Execute dram training automatically at 1st boot.
endif

if !SOC_CV2FS && !SOC_CV22FS
config BST_DRAM_TRAINING
	bool "Enable BST dram training"
	default y if DRAM_TYPE_LPDDR5
	default y if SOC_CV22 || SOC_CV25 || SOC_CV28 || SOC_H32
	default y if SOC_CV2 && !ENABLE_SECURITY
	default n
	select BST_LARGE_SIZE if SOC_CV5 || SOC_CV52
	help
		Execute dram training automatically in bootstrap at every boot.
endif

config DEVICE_TREE_SUPPORT
	bool "Enable device tree for XEN/RTOS"
	select BUILD_FOSS_LIBFDT
	default y
if DEVICE_TREE_SUPPORT
config DTS
	string "board level dts (device tree source) file path"
	default "${srctree}/bsp/cv2/cv2bub_option_a_v300/cv2bub.dts"   if BSP_CV2BUB_OPTION_A_V300
	default "${srctree}/bsp/cv2/cv2dk/cv2dk.dts"                  if BSP_CV2DK
	default "${srctree}/bsp/cv2/cv2dk/cv2dk.dts"                  if BSP_CV2DK_D_REWORK
	default "${srctree}/bsp/cv22/cv22bub_option_a_v300/cv22bub.dts"  if BSP_CV22BUB_OPTION_A_V300
	default "${srctree}/bsp/cv22/cv22dk/cv22dk.dts"                 if BSP_CV22DK
	default "${srctree}/bsp/cv25/cv25bub_option_a_v300/cv25bub.dts"  if BSP_CV25BUB_OPTION_A_V300
	default "${srctree}/bsp/cv25/cv25bub_option_a_v200/cv25bub.dts"  if BSP_CV25BUB_OPTION_A_V200
	default "${srctree}/bsp/cv25/cv25dk_v100/cv25dk.dts"            if BSP_CV25DK_V100
	default "${srctree}/bsp/cv25/cv25dk_8layer_v110/cv25dk.dts"     if BSP_CV25DK_8LAYER_V110
	default "${srctree}/bsp/h32/h32bub_option_a_v200/h32bub.dts"   if BSP_H32BUB_OPTION_A_V200
	default "${srctree}/bsp/h32/h32bub_option_a_v300/h32bub.dts"   if BSP_H32BUB_OPTION_A_V300
    default "${srctree}/bsp/h32/h32aqbub_option_a_v100/h32bub.dts"   if BSP_H32AQBUB_OPTION_A_V100
	default "${srctree}/bsp/h32/h32dk_v100/h32dk.dts"             if BSP_H32DK_V100
    default "${srctree}/bsp/h32/h32aqdk_option_b_v100/h32dk.dts"  if BSP_H32AQDK_OPTION_B_V100
	default "${srctree}/bsp/h32/h32bub_option_b_v200/h32bub.dts"   if BSP_H32BUB_OPTION_B_V200
	default "${srctree}/bsp/cv2fs/cv2fsbub_option_a_v100/cv2fsbub.dts" if BSP_CV2FSBUB_OPTION_A_V100
	default "${srctree}/bsp/cv2fs/cv2fsdk_option_a_v110/cv2fsdk.dts"  if BSP_CV2FSDK_OPTION_A_V110
	default "${srctree}/bsp/cv2fs/cv2xfsdk_option_b/cv2fsdk.dts"  if BSP_CV2XFSDK_OPTION_B
	default "${srctree}/bsp/cv28/cv28bub_option_a_v100/cv28bub.dts"  if BSP_CV28BUB_OPTION_A_V100
	default "${srctree}/bsp/cv28/cv28dk_8layer_a_v100/cv28dk.dts"   if BSP_CV28DK_8LAYER_A_V100
    default "${srctree}/bsp/cv28/cv28dk_option_b_v100/cv28dk.dts"   if BSP_CV28DK_OPTION_B_V100
	default "${srctree}/bsp/cv5x/cv5bub_option_a_v100/cv5bub.dts"  if BSP_CV5BUB_OPTION_A_V100
	default "${srctree}/bsp/cv5x/cv5bub_option_b_v100/cv5bub.dts"  if BSP_CV5BUB_OPTION_B_V100
    default "${srctree}/bsp/cv5x/cv5dk_option_a_v100/cv5dk.dts"  if BSP_CV5DK_OPTION_A_V100
    default "${srctree}/bsp/cv5x/cv52ndk_option_a_v100/cv52dk.dts"  if BSP_CV52NDK_OPTION_A_V100
    default "${srctree}/bsp/cv5x/cv52ndk_option_b_v100/cv52dk.dts"  if BSP_CV52NDK_OPTION_B_V100
    default "${srctree}/bsp/h32/h32_nexar_d081/h32bub.dts"  if BSP_H32_NEXAR_D081
    default "${srctree}/bsp/cv25/cv25_nexar_d161/cv25bub.dts"  if BSP_CV25_NEXAR_D161
    default "${srctree}/bsp/cv25/cv25_nexar_d161v2/cv25bub.dts"  if BSP_CV25_NEXAR_D161V2
    default "${srctree}/bsp/cv25/cv25_nexar_d080/cv25bub.dts"  if BSP_CV25_NEXAR_D080

config DTB_LOADADDR
	hex "Load address"
	default 0x00040000
config DTB_SIZE
	hex "DTB size"
	default 0x80000 if LINUX
	default 0x10000
endif

comment "Note, please modify bsp folder name once you change BSP configuration."
config BSP_NAME
    string "BSP folder name"
    default "cv2bub_option_a_v300"   if BSP_CV2BUB_OPTION_A_V300
    default "cv2dk"                  if BSP_CV2DK
    default "cv2dk_d"                if BSP_CV2DK_D_REWORK
    default "cv22bub_option_a_v300"  if BSP_CV22BUB_OPTION_A_V300
    default "cv22dk"                 if BSP_CV22DK
    default "cv25bub_option_a_v300"  if BSP_CV25BUB_OPTION_A_V300
    default "cv25bub_option_a_v200"  if BSP_CV25BUB_OPTION_A_V200
    default "cv25dk_v100"            if BSP_CV25DK_V100
    default "cv25dk_8layer_v110"     if BSP_CV25DK_8LAYER_V110
    default "h32bub_option_a_v200"   if BSP_H32BUB_OPTION_A_V200
    default "h32bub_option_a_v300"   if BSP_H32BUB_OPTION_A_V300
    default "h32aqbub_option_a_v100" if BSP_H32AQBUB_OPTION_A_V100
    default "h32dk_v100"             if BSP_H32DK_V100
    default "h32aqdk_option_b_v100"  if BSP_H32AQDK_OPTION_B_V100
    default "h32bub_option_b_v200"   if BSP_H32BUB_OPTION_B_V200
    default "cv2fsbub_option_a_v100" if BSP_CV2FSBUB_OPTION_A_V100
    default "cv2fsdk_option_a_v110"  if BSP_CV2FSDK_OPTION_A_V110
    default "cv2xfsdk_option_b"      if BSP_CV2XFSDK_OPTION_B
    default "cv28bub_option_a_v100"  if BSP_CV28BUB_OPTION_A_V100
    default "cv28dk_8layer_a_v100"   if BSP_CV28DK_8LAYER_A_V100
    default "cv28dk_option_b_v100"   if BSP_CV28DK_OPTION_B_V100
    default "cv5bub_option_a_v100"   if BSP_CV5BUB_OPTION_A_V100
    default "cv5bub_option_b_v100"   if BSP_CV5BUB_OPTION_B_V100
	default "cv5dk_option_a_v100"    if BSP_CV5DK_OPTION_A_V100
    default "cv52ndk_option_a_v100"   if BSP_CV52NDK_OPTION_A_V100
    default "cv52ndk_option_b_v100"   if BSP_CV52NDK_OPTION_B_V100
    default "h32_nexar_d081"     if BSP_H32_NEXAR_D081
    default "cv25_nexar_d161"        if BSP_CV25_NEXAR_D161
    default "cv25_nexar_d161v2"        if BSP_CV25_NEXAR_D161V2
    default "cv25_nexar_d080"        if BSP_CV25_NEXAR_D080
endmenu

config PCBA_DVT
	bool "board for dvt"
	default n
	help
		define whether dvt board

config PCBA_DVT2
	bool "board for dvt2"
	default n
	help
		define whether dvt2 board
