/*
 * Copyright (C) 2013 Ambarella,Inc. - http://www.ambarella.com/
 * Author: Cao Rongrong <rrcao@ambarella.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "ambarella-cv22-ambalink.dtsi"

/ {
	model = "Ambarella CV22BUB Board";
	compatible = "ambarella,cv22bub", "ambarella,cv22";

	chosen {
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	n_apb@e4000000 { /* Non-Secure APB, but configurable */
		uart0: uart@e4000000 {
			status = "disabled";
		};

	};

	s_apb@ec000000 { /* Secure APB, but configurable */
		pinctrl: pinctrl@0xec003000 {
			can0_pins: can@0 {
				reg = <0>;
				/* GPIO 154 alt 1, GPIO 155 alt 1 */
				amb,pinmux-ids = <0x109a 0x109b>;
			};
		};
	};

	n_ahb@e0000000 { /* Non-Secure AHB, but configurable */
		dma0: dma@e0020000 {
			/* amb,dma-startchannel = <2>; */ /* Prevent conflict between RTOS. */
			status = "disabled";
		};

		dma1: dma@e0021000 {
			/* amb,dma-startchannel = <2>; */ /* Prevent conflict between RTOS. */
			status = "disabled";
		};

		nand0: nand@e0002000 {
			status = "ok";
		};

		uart1: uart@e0017000 {
			pinctrl-0 = <&uart1_pins &uart1_flow_pins>;
			/*/delete-property/amb,msr-used;*/
			/*amb,txdma-used;*/
			/*amb,rxdma-used;*/
			/*dmas = <&dma0 9>, <&dma0 10>;*/
			/*dma-names = "tx", "rx";*/
			status = "ok";
		};

		uart2: uart@e0018000 {
			pinctrl-0 = <&uart2_pins &uart2_flow_pins>;
			/*/delete-property/amb,msr-used;*/
			/*amb,txdma-used;*/
			/*amb,rxdma-used;*/
			/*dmas = <&dma1 13>, <&dma1 14>;*/
			/*dma-names = "tx", "rx";*/
			status = "ok";
		};

		uart3: uart@e0019000 {
			pinctrl-0 = <&uart3_pins &uart3_flow_pins>;
			/*/delete-property/amb,msr-used;*/
			/*amb,txdma-used;*/
			/*amb,rxdma-used;*/
			/*dmas = <&dma1 15>, <&dma1 16>;*/
			/*dma-names = "tx", "rx";*/
			status = "ok";
		};

		uart4: uart@e001a000 {
			pinctrl-0 = <&uart4_pins &uart4_flow_pins>;
			/*/delete-property/amb,msr-used;*/
			/*amb,txdma-used;*/
			/*amb,rxdma-used;*/
			/*dmas = <&dma1 17>, <&dma1 18>;*/
			/*dma-names = "tx", "rx";*/
			status = "ok";
		};

		sdmmc0: sdmmc0@e0004000 {
			/*pwr-gpios = <&gpio 109 0x1>;*/
			/*v18-gpios = <&gpio 156 0x1>;*/
			status = "disabled";
		};

		sdmmc2: sdmmc2@e0005000 { /* SDXC rather than SDIO */
			/*pwr-gpios = <&gpio 110 0x1>;*/
			/*v18-gpios = <&gpio 157 0x1>;*/
			keep-power-in-suspend;
			no-1-8-v;
			max-frequency = <50000000>;
			status = "ok";
		};

		mac0: ethernet@e000e000 {
			amb,tx-clk-invert;
			/*pinctrl-0 = <&rgmii_pins &ahb_mdio_pins>;*/
			/*amb,ahb_mdio_bus;*/
			/*amb,ahb-12mhz-div = <1>;*/
			phy@0 {
				reg = <0>;
			};
		};

		/*
		mac0: ethernet@e000e000 {
			device_type 	= "network";
			compatible	= "st,stih416-dwmac", "snps,dwmac", "snps,dwmac-3.710";
			status 		= "ok";
			reg		= <0xe000e000 0x8000>;
			reg-names	= "stmmaceth";
			interrupts = <0 58 0x4>;
			interrupt-names = "macirq";
			snps,pbl 	= <32>;
			snps,mixed-burst;
			snps,scr-regmap = <&scratchpad_syscon>;
			phy-handle = <&ethernet_phy>;
			mdio {
				compatible = "snps,dwmac-mdio";
				ethernet_phy: ethernet-phy@0 {
					reg = <0>;
					compatible = "ethernet-phy-id0007.0570";
				};
			};
		};
		*/

		spi0: spi@e0011000 {
			cs-gpios = <&gpio 25 0>;
		};
	};

	s_ahb@e8000000 { /* Secure AHB, but configurable */
		rtc@e8001000 {
			status = "ok";
		};

		rng@e8001000 {
		};

		can0: can@e8004000 {
			compatible = "ambarella,can";
			reg = <0xe8004000 0x1000>;
			interrupts = <0 86 0x4>;
			pinctrl-names = "default";
			pinctrl-0 = <&can0_pins>;
			clocks = <&gclk_can>;
			status = "disabled";
		};
	};

	rct@ed080000 {
		usbphy: usbphy@ed080050 {
			/* high will trigger the ocp interrupt */
			amb,ocp-polarity = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&usb_host0_pins_a>;
		};
	};

	clocks {
		gclk_can: gclk-can {
			#clock-cells = <0>;
			compatible = "ambarella,div-clock";
			reg = <0xed080570 4>;
			clocks = <&osc>;
			/*compatible = "ambarella,composite-clock";*/
			/*reg = <0xed080570 4>, <0xed08056c 4>;*/
			/*clocks = <&osc>, <&pll_out_enet>, <&gclk_ahb>;*/
			clock-output-names = "gclk_can";
			amb,div-width = <24>;
			amb,div-shift = <0>;
		};
	};

	/* for profiling, see aipc_profile.c */
	profile_timer {
		compatible = "ambarella,timer19";
		reg = <0xe4006088 0x4>;
	};

	ambalink {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;

		aipc_mutex: ambarella-ipc-mutex {
			compatible = "ambarella,ipc-mutex";
			interrupts = <0 96 0x4>;
			amb,scr-regmap = <&scratchpad_syscon>;
		};

		/* must be consistent with ambalink_cfg.h */
		rproc0: ambarella-rproc {
			compatible = "ambarella,rproc";
			interrupts = <0 91 0x4>,	/* rvq_rx_irq, get rvq kick from rtos */
				     <0 92 0x4>;	/* svq_rx_irq, get svq ack from rtos */
			amb,scr-regmap = <&scratchpad_syscon>;
		};

		/* For RTOS as Master/Host, Linux as Client/Remote */
		rpclnt0: ambarella-rpclnt {
			compatible = "ambarella,rpclnt";
			interrupts = <0 91 0x4>,	/* rvq_rx_irq, get rvq kick from rtos */
				     <0 92 0x4>;	/* svq_rx_irq, get svq ack from rtos */
			amb,svq_kick = <93>;		/* svq_tx, C1_to_C0_kick */
			amb,rvq_ack  = <94>;		/* rvq_tx, C1_to_C0 ack */
			amb,scr-regmap = <&scratchpad_syscon>;
		};
	};
};
