BR2_aarch64=y
BR2_cortex_a78=y
BR2_DL_DIR="$(TOPDIR)/../dl"
BR2_JLEVEL=4
BR2_PACKAGE_OVERRIDE_FILE="ambarella/local.mk"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="http://buildroot.ambarella.com/buildroot/dl/toolchain-external-custom/cortex-a76-2022.08-gcc12.1-linux5.15-x86_64.tar.xz"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_5_15=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_TARGET_OPTIMIZATION="-mcpu=cortex-a78+crypto "
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="ambarella/package/ambarella_customize/source/skeleton"
BR2_ROOTFS_POST_BUILD_SCRIPT="ambarella/package/ambarella_customize/scripts/eva_rootfs.cpio.sh"
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_AMBARELLA_LINUX_5_15=y
# BR2_PACKAGE_IPCDEF is not set
# BR2_PACKAGE_AMBAIPC is not set
# BR2_PACKAGE_AMBAIPC_TEST is not set
# BR2_PACKAGE_AMBAIPC_UTIL is not set
# BR2_AMBARELLA_AUTOHIBER is not set
