BR2_aarch64=y
BR2_cortex_a78=y
BR2_DL_DIR="$(TOPDIR)/../dl"
BR2_JLEVEL=4
BR2_PACKAGE_OVERRIDE_FILE="ambarella/local.mk"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="http://buildroot.ambarella.com/buildroot/dl/toolchain-external-custom/cortex-a76-2022.08-gcc12.1-linux5.15-x86_64.tar.xz"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_5_15=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_TARGET_OPTIMIZATION="-mcpu=cortex-a78+crypto "
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="ambarella/package/ambarella_customize/source/skeleton"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="ambarella/package/ambarella_customize/source/device_table.txt"
BR2_ROOTFS_POST_BUILD_SCRIPT="ambarella/package/ambarella_customize/scripts/amba_eva_dk_post_build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(LINUX_OVERRIDE_SRCDIR)/arch/arm64/configs/ambarella_cv3_eva_cpio_defconfig"
BR2_PACKAGE_BUSYBOX_CONFIG="ambarella/package/ambarella_customize/config/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_CACHE_CALIBRATOR=y
BR2_PACKAGE_IOZONE=y
BR2_PACKAGE_MEMSTAT=y
BR2_PACKAGE_RAMSMP=y
BR2_PACKAGE_SPIDEV_TEST=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_TINYMEMBENCH=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_MTD_MKFSJFFS2=y
BR2_PACKAGE_MTD_MKFSUBIFS=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
BR2_PACKAGE_LIBSOCKETCAN=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_CAN_UTILS=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_ETHTOOL_PRETTY_PRINT=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_LINUXPTP=y
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_LZO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048
BR2_TARGET_ROOTFS_UBI_USE_CUSTOM_CONFIG=y
BR2_TARGET_ROOTFS_UBI_CUSTOM_CONFIG_FILE="ambarella/fs/ubifs/ubinize-ambarella.cfg"
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=2047
BR2_TARGET_ROOTFS_UBIFS_RT_ZLIB=y
BR2_TARGET_ROOTFS_UBIFS_GZIP=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_AMBARELLA_LINUX_5_15=y
# BR2_PACKAGE_IPCDEF is not set
BR2_PACKAGE_AMBACV=y
# BR2_PACKAGE_AMBAIPC is not set
# BR2_PACKAGE_AMBAIPC_TEST is not set
# BR2_PACKAGE_AMBAIPC_UTIL is not set
BR2_PACKAGE_AMBA_EXAMPLES=y
# BR2_PACKAGE_AMBA_FLEXIDAGIO_EXAMPLE is not set
# BR2_PACKAGE_AMBA_EXAMPLE_SOCKET_CLIENT is not set
BR2_PACKAGE_AMBA_EXAMPLE_AMBAPRINT=y
BR2_PACKAGE_AMBA_CAMERA=y
BR2_PACKAGE_AMBA_CAMERA_SOURCE="../../rtos/cortex_a"
BR2_PACKAGE_AMBA_CAMERA_DEFCONFIG="../../rtos/cortex_a/configs/cv3x/eva/linux/cv3dev_linux_dk_eva_cv_spinor_cvapiv7_clusters_defconfig"
BR2_PACKAGE_AMBA_DRAM_STATIS=y
BR2_PACKAGE_AMBA_DRAM_STATIS_TW_OUTPUT=y
BR2_PACKAGE_AMBA_DRAM_STATIS_TW_GROUP=y
# BR2_AMBARELLA_AUTOHIBER is not set



BR2_PACKAGE_LUA=y
BR2_PACKAGE_PROVIDES_LUAINTERPRETER="lua"
# BR2_PACKAGE_LUA_5_1 is not set
BR2_PACKAGE_LUA_5_3=y
# BR2_PACKAGE_LUA_5_4 is not set
# BR2_PACKAGE_LUA_32BITS is not set
BR2_PACKAGE_LUA_EDITING_NONE=y
# BR2_PACKAGE_LUA_READLINE is not set
# BR2_PACKAGE_LUA_LINENOISE is not set
BR2_PACKAGE_HAS_LUAINTERPRETER=y
BR2_PACKAGE_LUAINTERPRETER_ABI_VERSION="5.3"
BR2_PACKAGE_LUAINTERPRETER_ABI_VERSION_5_3=y
BR2_PACKAGE_PROVIDES_HOST_LUAINTERPRETER="host-lua"
BR2_PACKAGE_LUAJIT_ARCH_SUPPORTS=y
BR2_PACKAGE_LUAPOSIX=y
# BR2_PACKAGE_LUAJIT is not set
BR2_PACKAGE_LUASOCKET=y

BR2_PACKAGE_DROPBEAR=y

BR2_PACKAGE_RSYSLOG=y

BR2_PACKAGE_EXFAT=y
BR2_PACKAGE_EXFAT_UTILS=y

BR2_PACKAGE_AMBAMAL=y
BR2_PACKAGE_BUILD_AMBAMAL_SHARED_LIB=y

BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_COREUTILS=y

BR2_PACKAGE_EVA=y
BR2_PACKAGE_EVA_CONTROLBOX_LIB=y
BR2_PACKAGE_EVA_CONTROLBOX_UNIT_TEST=y
BR2_PACKAGE_EVA_TCPSERVER=y
BR2_PACKAGE_EVA_LIB_TCP=y
BR2_PACKAGE_EVA_LIB_COMMON=y
BR2_PACKAGE_EVA_LIB_SHM=y

BR2_PACKAGE_AMBA_CAMERA_DIAGS=n

BR2_PACKAGE_AMBA_CAMERA_BRIDGE_SENSOR="y"

