BR2_aarch64=y
BR2_DL_DIR="$(TOPDIR)/../dl"
BR2_JLEVEL=4
BR2_PACKAGE_OVERRIDE_FILE="ambarella/local.mk"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_OPTIMIZATION="-mcpu=cortex-a53+crypto"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="ambarella/package/ambarella_customize/source/skeleton"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="ambarella/package/ambarella_customize/source/device_table.txt"
BR2_ROOTFS_POST_BUILD_SCRIPT="ambarella/package/ambarella_customize/scripts/post_build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(LINUX_OVERRIDE_SRCDIR)/arch/arm64/configs/ambarella_cv2x_ambalink_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(TOPDIR)/../ambarella/bootloader/boards/h32bub/bsp/h32mbub_ambalink.dts"
BR2_PACKAGE_BUSYBOX_CONFIG="ambarella/package/ambarella_customize/config/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_CACHE_CALIBRATOR=y
BR2_PACKAGE_IOZONE=y
BR2_PACKAGE_MEMSTAT=y
BR2_PACKAGE_RAMSMP=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_TINYMEMBENCH=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBEV=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_BRIDGE_UTILS=y
BR2_PACKAGE_DNSMASQ=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_IW=y
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_LZO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_AMBARELLA_LINUX_5_15=y
BR2_PACKAGE_NETWORK_TURNKEY=y
BR2_PACKAGE_NETWORK_TURNKEY_STARTUP=y
BR2_PACKAGE_BT_TURNKEY_STARTUP=y
BR2_PACKAGE_AMBA_UTIL=y
BR2_PACKAGE_AMBA_EXAMPLES=y
# BR2_PACKAGE_AMBA_EVENTNOTIFIER_EXAMPLE is not set
# BR2_PACKAGE_AMBA_EXAMPLE_FRAMER is not set
# BR2_PACKAGE_AMBA_EXAMPLE_SHAREPREVIEW is not set
# BR2_PACKAGE_AMBA_EXAMPLE_STREAMIN is not set
BR2_PACKAGE_AMBA_EXAMPLE_FRAMESHARE_RTSP=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_MTD_UBIFORMAT=y
BR2_PACKAGE_MTD_UBIATTACH=y
BR2_PACKAGE_MTD_UBIMKVOL=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_CYPRESS=y
BR2_PACKAGE_CY_43455=y
BR2_PACKAGE_CY_QUECTEL=y
# BR2_AMBARELLA_AUTOHIBER is not set

BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ5_UTILS_GATTTOOL=y
BR2_PACKAGE_BLUEZ5_UTILS_EXPERIMENTAL=y
BR2_PACKAGE_BLUEZ5_UTILS_TOOLS=y
# BR2_PACKAGE_BLUEZ5_UTILS_TEST is not set


BR2_PACKAGE_HOSTAPD=y
BR2_PACKAGE_HOSTAPD_DRIVER_HOSTAP=y
BR2_PACKAGE_HOSTAPD_DRIVER_NL80211=y
# BR2_PACKAGE_HOSTAPD_DRIVER_RTW is not set
# BR2_PACKAGE_HOSTAPD_DRIVER_WIRED is not set
BR2_PACKAGE_HOSTAPD_HAS_WIFI_DRIVERS=y
BR2_PACKAGE_HOSTAPD_ACS=y
BR2_PACKAGE_HOSTAPD_EAP=y
BR2_PACKAGE_HOSTAPD_WPS=y
BR2_PACKAGE_HOSTAPD_VLAN=y
BR2_PACKAGE_HOSTAPD_VLAN_DYNAMIC=y
BR2_PACKAGE_HOSTAPD_VLAN_NETLINK=y

BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_CURL=y
# BR2_PACKAGE_LIBCURL_VERBOSE is not set
BR2_PACKAGE_LIBCURL_OPENSSL=y
BR2_PACKAGE_PPTP_LINUX=y

BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_SNTP is not set
# BR2_PACKAGE_NTP_NTP_KEYGEN is not set
# BR2_PACKAGE_NTP_NTP_SHM_CLK is not set
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
# BR2_PACKAGE_NTP_NTPDC is not set
# BR2_PACKAGE_NTP_NTPQ is not set
# BR2_PACKAGE_NTP_NTPSNMPD is not set
# BR2_PACKAGE_NTP_NTPTIME is not set
# BR2_PACKAGE_NTP_TICKADJ is not set

BR2_PACKAGE_POPT=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_HTTP_CONTROL_SERVER=y
# BR2_TARGET_LOCALTIME="Asia/Chongqing"
BR2_TARGET_LOCALTIME="UTC"
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_AMBA_HTTP_SERVER=y

BR2_PACKAGE_QCONNECT_MANAGER=y
BR2_PACKAGE_QFIREHOSE=y
